# Blacklist all
*

# Whitelist
!*/
!.gitignore
!*.csproj
!*.sln
!Assets/*/*
!Build/**

!./README.md

# Blacklist unnecessary directories
Packages/
UserSettings/
Library/
Logs/
obj/
Temp/
ProjectSettings/

# Blacklist unnecessary files
*.meta